click==6.7
cycler==0.10.0
Flask==0.12.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.0
pandas==0.18.1
passlib==1.7.1
pymongo==3.6.0
pyparsing==2.2.0
python-bittrex==0.3.0
python-dateutil==2.6.1
pytz==2017.3
requests==2.7.0
six==1.11.0
trueskill==0.4.4
Werkzeug==0.15.5
